.procedures {
  width: 100%;

  .category-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 0 0 0;
    font-family: "Oswald";
    background: $primary;
    color: white;

    @media screen and (max-width: 1540px) {
      .mdl-tabs__tab-bar {
        margin-top: 4vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: baseline;
        flex-wrap: wrap;
        height: auto;
      }
    }

    .mdl-tabs__tab {
      color: white;
    }

    .mdl-tabs.isupgraded,
    .mdl-tabs__tab.is-active {
      background: $secondary;
      color: white;
    }

    .projects-grid {
      width: 100%;
      min-height: 90vh;
      display: flex;
      justify-content: center;
      background: $secondary;
      padding: 40px 0;

      .procedures-container {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;

        /*background-image: url("../images/Instructions.svg");
        background-repeat: no-repeat;
        background-position-y: 6.9vh;
        background-attachment: fixed;*/

        .doc-div {
          width: 100%;
          height: auto;
          margin: 2vh auto;
          display: flex;
          align-content: flex-start;
          justify-content: center;

          .doc {
            width: 55%;
            height: 1600px;
            margin: auto;
            border: none;
            justify-self: center;
          }
        }
      }
    }
  }
}
