$titleFont: "Oswald", serif;
$paraFont: "Poppins", sans-serif;
$emphasisFont: "Indie Flower", cursive;

$titleSize: 3em;
$headerSize: 1.25em;

$cyprus: #003b49;
$lima: #78be20;
$orient: #005f83;
$shuttlegray: #63666a;
$scooter: #2dccd3;

$jet: #353535;
$lighthotpink: #ffb1f7;
$lightcyan: #daf5ff;
$navajowhite: #ffe9a6;
$bondiblue: #009fb7;
$independence: #3a506b;
$seaserpent: #5bc0be;

$classicRose: #ffcfe2;
$licorice: #111111;
$eerieBlack: #181818;
$maximumYellow: #f6f740;
$pictonBlue: #44ccff;
$purplePizzazz: #ff47da;

$twitterBlue: #1da1f2;

$primary: $cyprus;
$secondary: $lima;
$tertiary: #111111;
$headerText: white;
$bodyText: black;
