@import "./variables";
@import "./nav";

.content {
  position: absolute;
  top: 6vh;
  left: 0;
  min-height: 94vh;
  width: 100%;
}

@import "./home";
@import "./employees";
@import "./rooms";
@import "./procedures";
@import "./calendar";
@import "./directory";
@import "./notFound.scss";
@import "./footer.scss";
